---
import BaseLayout from "../layouts/BaseLayout.astro";
import Post from "../components/post_section/Post.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");

allPosts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.date);
  const dateB = new Date(b.frontmatter.date);
  return dateB.getTime() - dateA.getTime();
});

const title = "SA: Writing";
---

<BaseLayout title={title}>
  <section class="mt-24 px-4 lg:px-6 reveal" data-reveal>
    <h1 class="text-4xl font-bold mb-6">Writing</h1>
    <div
      class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-stretch"
    >
      {allPosts.map((post) => <Post post={post} />)}
    </div>
  </section>
</BaseLayout>
